.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



a {
  text-decoration: none;
  color: inherit;
}

.video-library {
  padding: 20px;
}

.video-row {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}

.video-row::-webkit-scrollbar {
  display: none;
}

.video-row li {
  margin-right: 10px;
  list-style: none;
}

.video-row img {
  width: 200px;
  height: 112.5px;
  object-fit: cover;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.video-row img:hover {
  transform: scale(1.1);
}


.videoplayer-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-info-container {
  margin-top: 20px;
}
